* { margin: 0; padding: 0;}

body, html { height: 100%; }

.canvas-div {
    border: 2px black dashed;
}


#canvas {
    display: block;
}

.form-container {
    position: absolute;
    top: 20%;
    left: 85%;
    
    background-color: white;
    width: 200px;
    border: 3px solid black;  
}

.form-container textarea {
    resize: none;
    margin-left: 10px;
    margin-bottom: 5px;
    
}

.form-container h1 {
    border-bottom: 3px solid black;
    
    
}

.form-container ul {
    min-height: 500px;
    margin-left: 20px;
    margin-top: 5px;
}
