<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="canvas.css">
    <link rel="stylesheet" href="notesPane.css">
     <link rel="stylesheet" href="sharing.css">
    <script src="../../resources/jquery.min.js"></script>
    <script src="../../resources/fabric.min.js"></script>
</head>
<body>
    <!-- <div>
        Canvas Below
    </div> -->
    <div class="canvas-div">
        <canvas id="canvas"></canvas>
    </div>
    <div class="notes">
        <form class="form-container" id="notesWindow">
            <h1>&nbspNotes</h1>
            <ul id="notesList"></ul>
            <textarea id="writingArea" placeholder="Write a note..." required></textarea>
        </form>
    </div>
    <div id="popup-container">
    <div id="popup-content">
      <div id="popup-header">
        <h1>Collaboration Tools</h1>
         <button id="close-button">X</button>
        <hr>
      </div>
      <ul id="user-list">
        <li>
          <div class="user-details">
            <img src="../../resources/blank2.png" alt="Profile Picture">
            <span>User 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <select>
              <option value="viewer">Viewer</option>
              <option value="commenter">Commenter</option>
              <option value="editor">Editor</option>
            </select>
          </div>
        </li>
        <li>
          <div class="user-details">
            <img src="../../resources/blank2.png" alt="Profile Picture">
            <span>User 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <select>
              <option value="viewer">Viewer</option>
              <option value="commenter">Commenter</option>
              <option value="editor">Editor</option>
            </select>
          </div>
        </li>
        <li>
          <div class="user-details">
            <img src="../../resources/blank2.png" alt="Profile Picture">
            <span>User 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <select>
              <option value="viewer">Viewer</option>
              <option value="commenter">Commenter</option>
              <option value="editor">Editor</option>
            </select>
          </div>
        </li>
      </ul>
      <div id="search-bar">
        <input type="text" placeholder="Share with email address">
      </div>
    </div>
  </div>
   <script src="../../js/sharing.js"></script>
    <script src="../../js/canvas.init.js"></script>
    <script src="../../js/notes.js"></script>
</body>
</html>
