* { margin: 0; padding: 0; font-size: 12px !important;}

body, html { height: 100%; }

.canvas-div {
    border: 2px black dashed;
}


#canvas {
    display: block;
}

/* Style the menu bar */
.menu-bar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.menu-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu-bar li {
    display: inline;
    margin-right: 15px;
    position: relative;
}

.menu-title {
    font-weight: bold;
    color: white;
}

.menu-bar a {
    color: white;
    text-decoration: none;
}

.menu-bar a:hover {
    text-decoration: underline;
}

/* Style the dropdown menu */
.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 120px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
}

.dropdown li {
    display: block;
    margin: 0;
}

.dropdown a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown a:hover {
    background-color: #555;
}

/* Create a spacer */
.spacer {
    flex-grow: 1;
}

/* Circular buttons styling */

/* Toolbar styling */
.toolbar {
    display: flex;
    position: sticky;
    z-index: 1;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: fit-content;
    top: 30vh;
    padding: .1em;
    margin: .4em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toolbar:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toolbar-item {
    border-radius: 50%;
    margin: .4em .2em;
    cursor: pointer;
    color: #b5b5b5 !important;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toolbar-item:hover {
    transform: scale(1.1);
    color: #6e6e6e !important;
    transform-origin: center;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 50%;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #ffffff;
    max-width: fit-content;
    color: #6e6e6e !important;
    padding: 2px 4px;
    text-align: center;
    border-radius: 4px;
    font-size: 8px;
    position: absolute;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.material-symbols-outlined {
    font-size: 32px !important;
}

.room-title {
    display: flex;
    position: sticky;
    z-index: 1;
    border-radius: 8px;
    max-width: fit-content;
    top: 2vh;
    left: 93%;
    padding: .4em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.room-title * {
    font-size: 14px !important;
    padding: 2px 4px;
    color: #6e6e6e !important;
}