<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="stylesheet" text="text/css" href="/views/canvas/canvas.css">
    <link rel="stylesheet" href="/views/canvas/notesPane.css">
    <link rel="stylesheet" href="/views/canvas/sharing.css">
    <link rel="stylesheet" href="/views/canvas/userMenuStyles.css">
    <link rel="stylesheet" href="/views/canvas/optionsStyles.css">
    <script src="/resources/jquery.min.js"></script>
    <script src="/resources/fabric.min.js"></script>
    <script src="/resources/heatmap.min.js"></script>
    <script src="socket.io/socket.io.min.js"></script>
</head>
<body>
    <div class="room-title">
        <span id="room-name"></span>
    </div>
    <div class="toolbar" id="toolbar">
        <div class="toolbar-item tooltip" id="heatmapBtn">
            <span class="material-symbols-outlined">
                mode_heat_cool
            </span>
            <span class="tooltiptext">Heatmap</span>
        </div>
        <div class="toolbar-item tooltip" id="createnewBtn">
            <span class="material-symbols-outlined">
                add_circle
            </span>
            <span class="tooltiptext">Add new</span>
        </div>
        <div class="toolbar-item tooltip" id="selectBtn">
            <span class="material-symbols-outlined">
                select_all
            </span>
            <span class="tooltiptext">Select</span>
        </div>
        <div class="toolbar-item tooltip" id="notesBtn">
            <span class="material-symbols-outlined">
                edit_note
            </span>
            <span class="tooltiptext">Notes</span>
        </div>
        <div class="toolbar-item tooltip" id="collaborationBtn">
            <span class="material-symbols-outlined">
                groups
            </span>
            <span class="tooltiptext">Collaboration</span>
        </div>
    </div>
    <div id="canvas-div">
        <canvas id="canvas"></canvas>
    </div>
    <! This is the top menu for application options -->
    <!-- <div class="macos-menu-bar">
        <div class="menu">
            <div class="menu-title" contenteditable="true">Your Title</div>
            <div class="menu-items">
                <div class="menu-item with-dropdown" onmouseover="openDropdown('fileDropdown')" onmouseout="closeDropdown('fileDropdown')">File
                    <ul id="fileDropdown" class="dropdown">
                        <li><a href="#new">New</a></li>
                        <li><a href="#open">Open</a></li>
                        <li><a href="#save">Save</a></li>
                    </ul>
                </div>
                <div class="menu-item with-dropdown" onmouseover="openDropdown('editDropdown')" onmouseout="closeDropdown('editDropdown')">Edit
                    <ul id="editDropdown" class="dropdown">
                        <li><a href="#cut">Cut</a></li>
                        <li><a href="#copy">Copy</a></li>
                        <li><a href="#paste">Paste</a></li>
                    </ul>
                </div>
                <div class="menu-item with-dropdown" onmouseover="openDropdown('optionsDropdown')" onmouseout="closeDropdown('optionsDropdown')">Options
                    <ul id="optionsDropdown" class="dropdown">
                        <li><a href="#settings">Settings</a></li>
                        <li><a href="#preferences">Preferences</a></li>
                    </ul>
                </div>
                <div class="menu-item with-dropdown" onmouseover="openDropdown('helpDropdown')" onmouseout="closeDropdown('helpDropdown')">Help
                    <ul id="helpDropdown" class="dropdown">
                        <li><a href="#faq">FAQ</a></li>
                        <li><a href="#support">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <! This is the side menu with the user Interface options -->
    <!-- <div class="circular-menu">
        <div class="circular-button new-idea" id="createnewBtn" data-tooltip="Create a new idea">➕</div>
        <div class="circular-button heatmap" id="heatmapBtn" data-tooltip="View HeatMap">🔥</div>
        <div class="circular-button select" data-tooltip="Select items">✅</div>
        <div class="circular-button notepad" data-tooltip="Open Notepad">📝</div>
        <div class="circular-button collaboration" data-tooltip="Collaboration menu">🤝</div>
    </div> -->

    <div id="optionsMenu">
      <ul id="optionsList">
        <li id="addComment">
          <textarea id="commentArea" placeholder="add comment..." required></textarea>
        </li>
        <li id="copy">Copy</li>
        <li id="split">Split</li>
        <li id="delete">Delete</li>
      </ul>
    </div>
    <div class="notes">
        <form class="form-container" id="notesWindow">
            <h1>&nbspNotes</h1>
            <ul id="notesList"></ul>
            <textarea id="writingArea" placeholder="Write a note..." required></textarea>
        </form>
    </div>
     <div id="popup-container">
    <div id="popup-content">
      <div id="popup-header">
        <h1>Collaboration Tools</h1>
         <button id="close-button">X</button>
        <hr>
      </div>
      <ul id="user-list">
        <li>
          <div class="user-details">
            <img src="../../resources/blank2.png" alt="Profile Picture">
            <span>User 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <select>
              <option value="viewer">Viewer</option>
              <option value="commenter">Commenter</option>
              <option value="editor">Editor</option>
            </select>
          </div>
        </li>
        <li>
          <div class="user-details">
            <img src="../../resources/blank2.png" alt="Profile Picture">
            <span>User 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <select>
              <option value="viewer">Viewer</option>
              <option value="commenter">Commenter</option>
              <option value="editor">Editor</option>
            </select>
          </div>
        </li>
        <li>
          <div class="user-details">
            <img src="../../resources/blank2.png" alt="Profile Picture">
            <span>User 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <select>
              <option value="viewer">Viewer</option>
              <option value="commenter">Commenter</option>
              <option value="editor">Editor</option>
            </select>
          </div>
        </li>
      </ul>
      <div id="search-bar">
        <input type="text" placeholder="Share with email address">
      </div>
    </div>
    </div>
    
    <script src="/js/fabricjs.extensions.js"></script>
    <script src="/js/canvas.init.js"></script>
    <script src="/js/canvas.utils.js"></script>
    <script src="/views/canvas/sharing.js"></script>
    <script src="/js/notes.js"></script>
    <script src="/js/menuOptionsHover.js"></script>
    <script src="/js/optionsMenu.js"></script>
    <script>
        function openDropdown(id) {
            var dropdown = document.getElementById(id);
            dropdown.style.display = 'block';
        }
        function closeDropdown(id) {
            var dropdown = document.getElementById(id);
            var menu = document.querySelector('.menu-item.with-dropdown');
            menu.addEventListener('mouseout', function (event) {
                if (!menu.contains(event.relatedTarget)) {
                    dropdown.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>
